 
@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_mainView.cshtml";
}
<!DOCTYPE html>
<html>

<body>
    <section class="content-header">
       
    </section><!-- Main content -->
    <section class="content">
 
    </section>
    <!-- /.content -->
    
    @Html.ActionLink("Go To Stat", "IndexMeetings")
    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now.Year </p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)*@
</body>
</html>


  <!-- Content Header (Page header) -->

