
@{
    ViewBag.Title = "IndexStat";
    Layout = "~/Views/Stat/_MyLayout.cshtml";

}

<script type="text/javascript">




    $(document).ready(function () {
        $.getJSON("/Stat/GetData", function (data) {

            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Ressource Ratio'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Ressources',
                    colorByPoint: true,
                    data: [{
                        name: 'Freelancer',
                        y: data.pig
                    }, {
                        name: 'Employee',
                        y: data.emp
                    }]
                }]
            });
        });
    });
    //$(function () {
    //    $('#container').highcharts({
    //        chart: {
                
    //            type: 'pie'
    //        },
    //        title: {
    //            text: 'Monthly Average Rainfall'
    //        },
    //        subtitle: {
    //            text: 'Source: WorldClimate.com'
    //        },
    //        xAxis: {
    //            categories: [
    //                'Jan',
    //                'Feb',
    //                'Mar',
    //                'Apr',
    //                'May'
    //            ]
    //        },
    //        yAxis: {
    //            min: 0,
    //            title: {
    //                text: 'Rainfall (mm)'
    //            }
    //        },
    //        tooltip: {
    //            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    //            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    //                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
    //            footerFormat: '</table>',
    //            shared: true,
    //            useHTML: true
    //        },
    //        plotOptions: {
    //            column: {
    //                pointPadding: 0.2,
    //                borderWidth: 0
    //            }
    //        },
    //        series: [{
    //            name: 'Ressources',
    //            colorByPoint: true,
    //            data: [ 
    //                {name: 'emp',
    //                 y: 49.90
    //                 },
    //                {name: 'pig',
    //                 y:50.10}



    //            ]


    //        }]
    //    });
    //});
</script>
<div>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

  
