
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Stat/_MyLayout.cshtml";
}

<h2>Index</h2>
<script type="text/javascript">

    
        var chart1;
        var chart2;
        var chart3;
        var chart4;
        var Name = [];
        var nbr = [];
        var med = [];
        $(function () {
            $.fn.extend({
                MeetingByAdmin: function () {
                    $.ajax({
                        type: "POST",
                        url: "GetMeetings",
                        data: '{}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            Name = []; nbr = []; med = [];
                            $.each(data, function (i, x) {
                                Name.push(x.Name);
                                nbr.push(x.nbr);
                                med.push(x.med);

                            });
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });

                    chart1 = $('#meetingbyadmin').highcharts(
                       {
                           chart: {
                               type: 'heatmap',
                               marginTop: 40,
                               marginBottom: 80,
                               colors: ['#04B45F', '#E82C0C', '#FF0000', '#E80C7A', '#E80C7A'],
                               plotBorderWidth: 1
                           },


                           title: {
                               text: 'Meetings By Admin'
                           },

                           xAxis: {
                               categories: Name
                           },

                           yAxis: {
                               categories: med

                           },

                           colorAxis: {
                               min: 0,
                               minColor: '#E80C7A',
                               maxColor: '#04B45F'
                           },

                           legend: {
                               align: 'right',
                               layout: 'vertical',
                               margin: 0,
                               verticalAlign: 'top',
                               y: 25,
                               symbolHeight: 280
                           },

                           tooltip: {
                               formatter: function () {
                                   return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> have <br><b>' +
                           this.point.y + '</b> Meetings on <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                               }
                           },

                           series: [{
                               name: 'Meetings by Admin',
                               borderWidth: 1,
                               data: nbr,
                               color: '#04B45F',
                               dataLabels: {
                                   enabled: true,
                                   color: '#04B45F'
                               }
                           }],
                           exporting: {
                               enabled: true // hide button
                           }


                       });
                    $("text:contains('Highcharts.com')").css('display', 'none');
                }
            });
        });

        //$("text:contains('Highcharts.com')").css('display', 'none');
        $(function () {
            $.fn.MeetingByAdmin();
        });

        $(document).ready(function () {
            $.getJSON("/Stat/GenerateGraph", function (data) {

                chart2 = $('#container').highcharts({
                    chart: {
                        type: 'areaspline'
                    },
                    title: {
                        text: 'Average fruit consumption during one week'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 150,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    xAxis: {
                        categories: [
                            'January',
                            'March',
                            'May',
                            'July',
                            'September',
                            'November'
                        ],
                        plotBands: [{ // visualize the weekend
                            from: 4.5,
                            to: 6.5,
                            color: 'rgba(68, 170, 213, .2)'
                        }]
                    },
                    yAxis: {
                        title: {
                            text: 'Ressource Unit'
                        }
                    },
                    tooltip: {
                        shared: true,
                        valueSuffix: 'units'
                    },
                    credits: {
                        enabled: false
                    },
                    plotOptions: {
                        areaspline: {
                            fillOpacity: 0.5
                        }
                    },
                    series: [{
                        name: 'NombreRessources',
                        colorByPoint: true,
                        data: [{
                            name: 'Mandats',
                            y: data.ressmandat
                        }, {
                            name: 'InterMandats',
                            y: data.ressinter
                        }]
                    }], exporting: {
                        enabled: true // hide button
                    }

                });

            });
        });
        var Name2 = [];
        var nbr2 = [];


        $(function () {
            $.fn.extend({
                RessourcesByProject: function () {
                    $.ajax({
                        type: "POST",
                        url: "GetElements",
                        data: '{}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            Name2 = []; nbr2 = [];
                            $.each(data, function (i, x) {
                                Name2.push(x.Name2);
                                nbr2.push(x.nbr2);

                            });
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
                    chart3 = $('#ressourcesbyproject').highcharts({
                        chart: {
                            type: 'column', width: 830
                        },
                        title: {
                            text: 'Ressources By Project'
                        },
                        xAxis: {
                            categories: Name2,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ressources'
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    rotation: 40,
                                    softConnector: true,
                                    y: -8
                                }
                            }

                        },
                        series: [{
                            showInLegend: false,
                            name: 'nbr',
                            data: nbr2

                        }],
                        exporting: {
                            enabled: true // hide button
                        }

                    });
                    $("text:contains('Highcharts.com')").css('display', 'none');
                }
            });
        });

        //$("text:contains('Highcharts.com')").css('display', 'none');
        $(function () {
            $.fn.RessourcesByProject();
        });
        $(document).ready(function () {
            $.getJSON("/Stat/GetData", function (data) {

                chart4 = $('#container2').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Ressource Ratio'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },

                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Ressources',
                        colorByPoint: true,
                        data: [{
                            name: 'Freelancer',
                            y: data.pig
                        }, {
                            name: 'Employee',
                            y: data.emp
                        }]
                    }],
                    exporting: {
                        enabled: true // hide button
                    }

                });
            });
        });

        
      
    
</script>
<h2>Show Graph</h2>


<div class="panel panel-primary">

    <div class="panel-heading">Meetings Graph</div>

    <div class="panel-body">
       
        <TABLE>
            <TR>
                <TD><div id="meetingbyadmin"></div></TD>
                <TD><div id="container"></div></TD>
            </TR>
            <TR>
                <TD><div id="container2" ></div></TD>
                <TD><div id="ressourcesbyproject"></div></TD>
            </TR>
        </TABLE>
  
       
    </div>
    

</div>
