@*@{
    ViewBag.Title = "IndexStat";
    Layout = "~/Views/Stat/_MyLayout.cshtml";

}

<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON("/Stat/GetData", function (data) {

            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Ressource Ratio'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },

                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                            }
                        }
                    },
                series: [{
                    name: 'Ressources',
                    colorByPoint: true,
                    data: [{
                        name: 'Freelancer',
                        y: data.pig
                    }, {
                        name: 'Employee',
                        y: data.emp
                    }]
                }]
            });
        });
    });
   
</script>
<div>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>*@

  
